# Allow non-root access to FiiO USB devices for fiio-peq.
#
# Install:
#   sudo cp 99-fiio.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules && sudo udevadm trigger
#
# Replug the device after installing.
SUBSYSTEM=="usb", ATTR{idVendor}=="2972", MODE="0666"
